PORT=5000
MONGO_URI=mongodb+srv://Farhan1:sGISKp8NqDM4FFsy@cluster1.mlshwmq.mongodb.net/transitops?retryWrites=true&w=majority&appName=Cluster1
JWT_SECRET=transitops_jwt_access_secret_key_change_me_in_prod_123!
JWT_REFRESH_SECRET=transitops_jwt_refresh_secret_key_change_me_in_prod_123!
ADMIN_EMAIL=maniyafarhan287@gmail.com
ADMIN_PASSWORD="pqep wdyw etco roey"
